<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><div class="fontthai">ข้อมูลกรมธรรม์-ตัวแทน</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-buttons slot="end">
        <ion-button routerLink="/home" >
          <ion-icon slot="icon-only" ios="home-outline" md="home-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/addpolicy-agent" >
          <ion-icon slot="icon-only" ios="add-outline" md="add-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngFor="let item of policyagent " class="fontthai"> 
      <h5>หมายเลขกรมธรรม์ที่ขาย : {{item.Policy_No}}<br>
        ตัวแทนขาย : {{item.Agent_ID}}
        <br>เปอร์เซ็นต์ค่าคอม : {{item.Commission_Rate}} %
        <br>ค่าคอมมิชชันจริง : {{item.Commission_Amount|number:'2.0-2'}}</h5>
    </ion-item>
  </ion-list>
</ion-content>
