<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="fontthai">เพิ่มข้อมูลพนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="label">คำนำหน้าชื่อ : </ion-label>
      <ion-select [(ngModel)]="title_id" placeholder="เลือกคำนำหน้าชื่อ">
        <ion-select-option *ngFor="let item of title" value="{{item.title_id}}">{{item.title_name}}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="label">ชื่อ : </ion-label>
    <ion-input class="fontthai" type="text" [(ngModel)]="First_Name" placeholder="กรอกชื่อภาษาไทย"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label">นามสกุล : </ion-label>
    <ion-input class="fontthai" type="text" [(ngModel)]="Last_Name" placeholder="กรอกนามสกุลภาษาไทย"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label class="label">เลขใบอนุญาติ : </ion-label>
    <ion-input class="fontthai" type="text" [(ngModel)]="License_No" placeholder="กรอกเลขใบอนุญาติ"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label">เบอร์โทร : </ion-label>
    <ion-input class="fontthai" type="text" [(ngModel)]="Phone" placeholder="หมายเลขโทรศัพท์ 10 ตัว"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label">email : </ion-label>
    <ion-input class="fontthai" type="mail" [(ngModel)]="Email" placeholder="ที่อยู่ email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label">สาขาที่ประจำอยู่ : </ion-label>
    <ion-input class="fontthai" type="text" [(ngModel)]="Branch" ></ion-input>
  </ion-item>
  <ion-button (click)="addcustomer()" class="button">
    บันทึก
  </ion-button>
</ion-content>