<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><div class="fontthai">ข้อมูลกรมธรรม์</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-buttons slot="end">
        <ion-button routerLink="/home" >
          <ion-icon slot="icon-only" ios="home-outline" md="home-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/addpolicy" >
          <ion-icon slot="icon-only" ios="add-outline" md="add-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngFor="let item of policy " class="fontthai"> 
      <h5>
        <br>หมายเลขกรมธรรม์ : {{item.Policy_No}}
        <br>อ้างอิงจากลูกค้ารายที่ : {{item.Customer_ID}}
        <br>รหัสแผนประกันจากตาราง : {{item.Product_ID}} 
        <br>รหัสตัวแทนที่ขาย : {{item.Agent_ID}}
        <br>วันที่เริ่ม/หมดอายุ : {{item.Issue_Date}} / {{item.Expiry_Date}}
        <br>เบี้ยที่ลูกค้าชำระ : {{item.Premium_Amount}}
        <br>วงเงินคุ้มครอง : {{item.Annual_Limit}}
        <br>สถานะกรมธรรม์ : {{item.Status}}</h5>
    </ion-item>
  </ion-list>
</ion-content>
